{% extends 'base.html' %}

{% block title%}About me {% endblock %}
{% load static %}
{% block content %}

<section class="about-section">
    <div class="img-container center">
        <img id="about-img" src="{% static './img/logopic.jpg' %}" alt="logo">
    </div>

    <div class="description-container center">

        <div class="center" style="display: flex; flex-direction: column;">
            <h1>Full Stack Developer</h1>
            <h2>Glenda Bailey</h2>
        </div>

        <p>
            As an entry level Software Developer  I am eagared to utilizing my knowledge of software development and problem solving skills. Excited to gain experience in the field by working in an entry-level developer role. Determined to use my knowlege of coding languages and software decelopment to develop effective applications for an organization.<br /><br />

            I possess a positive attitude with strong communication skills, and believe in the "One band, One sound" mentality.I have an active Secret Clearence, and experience as a Trainer and implementation. I am determined to gain more knowlege and continue my education Network Security</p>
             <br /></br />
        </p>

        <div class="skills-list center">

            <h2>Skills</h2>

            <div class="skills center">
                <label>Creativty</label>
                <label>Teamwork</label>
                <label>Decision Maker</label>
                <label>Critical Thinking</label>
                <label>Implementation</label>
                <label>Time Management</label>
                <label>Collaboration</label>
                <label>Motivated</label>
                <label>Adaptability</label>
                <label>Communication</label>
            </div>
        </div>
    </div>
</section>

{% endblock content %}